@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  outline: none;
}
html{
  height: 100%;
}
header{
  max-width: 100%;
}
body{
  background-attachment: fixed;
  width: 100%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
.bg{
  background: #e5e3e4;
  height: 150px;
  align-content: center;
  color: blue;
}
.bg h1{
  position: absolute;
  padding: 50px;
}
.menu{
  display: inline-block;
  padding: 10px;
  position: relative;
  left: 50%;
  font-family: Arial  Black , sans-serif;
  font-size: 16px;
  margin-top: 90px;
}
.menu, a{
  text-decoration: none;
  color: blue;
}
header a:hover{
  color: white;
}
.foot,footer{
  background: #f1f1f1;
  height: 90px;
  align-content: center;
  color: blue;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.menu_f{
  display: inline-block;
  padding: 10px;
  position: relative;
  left: 70%;
  font-family: Arial  Black , sans-serif;
  font-size: 16px;
  margin-top: 40px;
}
